/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px)
{
	html
	{
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none;
	}
}